.spacer {
    display: flex;
    box-sizing: border-box;
}

.spacer-fullwidth {
    width: 100%;
}

.spacer-gaps-m {
    gap: 12px;
}

.spacer-align-bottom {
    align-items: flex-end;
}

.spacer-align-center {
    align-items: center;
}

.spacer-align-top {
    align-items: flex-start;
}

.spacer-preset-bordered {
    border-bottom: 1px solid rgba(50, 66, 95, 0.17);
}

.spacer-preset-shaded {
    box-shadow: 0px 0px 1px 0px rgba(9, 30, 66, 0.31), 0px 0px 4px 0px rgba(9, 30, 66, 0.25);
}

.spacer-direction-row {
    flex-direction: row;
}

.spacer-direction-column {
    flex-direction: column;
}

.spacer-justify-space-between {
    justify-content: space-between;
}