.margin-right-16 {
    margin-right: 16px;
}

.margin-right-2 {
    margin-right: 2px;
}

.padding-16-18 {
    padding: 16px 18px;
}

.padding-16-16 {
    padding: 16px 16px;
}

.padding-6-0 {
    padding: 6px 0;
}