.panel {
    position: fixed;
    min-width: 300px;
    top: 60px;
    right: 0;
    height: calc(100vh - 60px);
    transition: transform 0.2s;
    background-color: white;
    transform: translateX(100%);
}

.opened {
    transform: translateX(0);
}