:root {
  font-family: 'SF Pro', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;

  color: #32425F;;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
   font-family: 'SF Pro';
   font-weight: 400;
   src: url('sf-pro/normal.otf');
}

@font-face {
  font-family: 'SF Pro';
  font-weight: 500;
  src: url('sf-pro/medium.otf');
}

@font-face {
  font-family: 'SF Pro';
  font-weight: 600;
  src: url('sf-pro/semibold.otf');
}

@font-face {
  font-family: 'SF Pro';
  font-weight: 700;
  src: url('sf-pro/bold.otf');
}

body {
  margin: 0;
  box-sizing: border-box;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1, h2, h3, h4, h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}